# Creation date : 22.08.2022
# Created by : CSR
# Description : Create two containers (one for the db and the other one of the administration front-end)
#
version: '3.3'

services:
  db:
    image: mysql:8.0.30
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: my_database
      MYSQL_USER: db_user
      MYSQL_PASSWORD: db_user_pass
    ports:
      - "6033:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./scripts:/docker-entrypoint-initdb.d
    networks:
      - mysql_network

  phpmyadmin:
    image: phpmyadmin:5.2.0
    container_name: pma
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
      PMA_ARBITRARY: 1
    ports:
      - "8081:80"
    networks:
      - mysql_network

# The database will be persistent among containers restarts.
volumes:
  dbdata:

networks:
  mysql_network:
    driver: bridge
